@{
    Layout = null;
}
<html>
<head>
</head>
<body>
    <form action="/BL/Adiciona" method="post">
        <ul>
            <li>
                <label for="Numero">Numero:</label>
                <input name="categoria.Numero" id="Numero" />
            </li>
            <li>

                <label for="Consignee">Consignee:</label>
                <input name="categoria.Consignee" id="Consignee" />
            </li>
            <li>

                <label for="Navio">Navio:</label>
                <input name="categoria.Navio" id="Navio" />
            </li>
            <li>

                <label for="ContainerId">Container:</label>
                <input name="categoria.ContainerId" id="ContainerId" />
            </li>
            <li>

                <input type="submit" value="Cadastrar" />
            </li>
           
        </ul>
    </form>
</body>
</html>