<html>
<head>
</head>
<body>
    <form action="/Container/Adiciona" method="post">
        <ul>
            <li>
                <label for="Numero">Numero:</label>
                <input name="categoria.Numero" id="Numero" />
            </li>
            <li>

                <label for="Tipo">Tipo:</label>
                <input name="categoria.Tipo" id="Tipo" />
            </li>
            <li>

                <label for="Tamanho">Tamanho:</label>
                <input name="categoria.Tamanho" id="Tamanho" />
            </li>
            <li>

                <input type="submit" value="Cadastrar" />
            </li>

        </ul>
    </form>
</body>
</html>